@import "tailwindcss";

@theme {
    --color-awblack: #303028;
    --color-awgray: #B5B1A8;
    --color-awgraylight: #D6D0C2;
    --color-awpastel: #FDF1EB;
    --color-awsalmon: #E8A499;
    --color-awpink: #FF6187;
    --color-aworange: #F6B99C;
    --color-gray-200: oklch(0.928 0.006 264.531);
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'DM Sans', Helvetica, Arial, Lucida, sans-serif;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 10s linear infinite;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

.animated-text .cursor {
    display: inline-block;
    margin-left: 2px;
    width: 1px;
    height: 3rem;
    background-color: currentColor;
    animation: blink 0.8s steps(2, start) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}